---
import {Icon} from 'astro-icon/components';


const currentUrl= new URL(Astro.request.url);
const currentPage = currentUrl.pathname

type PageStyle = {
    [key: string]: {name: string; backgroudColor:string; titleColor:string;};
} 

const pageStyle: PageStyle = {
	'/about/': {name:'ABOUT ME', backgroudColor:'#F56F10', titleColor:'#FFFFFF'},
    '/projects/':{name:'PROJECTS', backgroudColor:'#09CA28', titleColor:'#222222'}
} as const;

const { name: dynamicName, backgroudColor: dynamicBackgroundColor, titleColor: dynamicTitleColor } = pageStyle[currentPage] || { name: 'ABOUT ME', backgroudColor: '#09CA28', titleColor:'#FFFFFF' };
---

<div class="container">
    <div class="tab-bar" style={`background-color: ${dynamicBackgroundColor}`}>
        <div class="tab-content">
           
            <div class="close-button">
                <button >
                    <Icon name="close" style={`color: ${dynamicTitleColor}`}></Icon>
                </button>
            </div>

            <div class="page-name" style={`color: ${dynamicTitleColor}`}>
                <p>{dynamicName}</p>
            </div>

            <div> </div>
            
        </div>
    </div>

    <div class="content-layout">
        <slot></slot>
        
    </div>

</div>

<style>
    .container{
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 75%;
    }

    .tab-bar{
        height: 70px;
        width: 100%;
        border-radius: 40px 40px 0 0;
        padding: 0 20px;
        position: relative;
    }

    .content-layout{
        height: 100%;
        width: 100%;
        background-color: whitesmoke;
        overflow-y: scroll;
        color: black;
        padding: 10px 40px;
    }

    [data-icon]{
        height: 45px;
        width: 45px;
        color: azure;
    }

    button{
        background: none;
        border: none;
    }

    
    .tab-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        height:100%;
        padding: 10px 0 5px 0;
    }

    .page-name{
        position: absolute; 
        left: 50%; 
        transform: translateX(-50%); 
        font-weight: bold;
        font-size: 20px;
    }

    /* 2xl: 1536px and below */
   @media (max-width: 1522px) {
        .container{
            width: 85%;
        }
    }

    /* xl: 1280px and below */
    @media (max-width: 1279px) {

    }

    /* lg: 1024px and below */
    @media (max-width: 1023px) {
        .container{
            width: 100%;
        }
    }

    /* 950px and below */
    @media (max-width: 949px) {
        
    }

    /* 860px and below */
    @media (max-width: 859px) {
       
        
    }

    /* md: 768px and below */
    @media (max-width: 767px) {
    
    }

    /* sm: 640px and below */
    @media (max-width: 639px) {
        .container{
            width: 100%;
        }

        .page-name{
            font-size: 18px;
        }

        .tab-bar{
            border-radius: 30px 30px 0 0;
            height:60px;
         }

         .content-layout{
            padding: 10px 20px;
        }
    }

    @media (max-width: 510px) {
        .page-name{
            font-size: 15px;
        }
        
        [data-icon]{
            height: 30px;
            width: 30px;
        }

        
    }

</style>