---
import { Icon } from "astro-icon/components";
import StackCard from "./stackCard.astro";

interface Props{
    project:{
        title:string;
        description:string;
        webAppUrl:string;
        landingPageUrl:string;
        roles:string[];
        tools: string[];
    }
}

const {project} = Astro.props;
---
<div class="project-header">
    <h2 class="project-title">{project.title}</h2>
    <hr>
</div>

<div class="text-container">
    <div class="text">

    </div>
    <div class="project-details">
        <div class="project-rol">
            <span> MY ROL</span>
            <div class="rol-list">
                {project.roles.map((role) =>(
                    <p>{role}</p>
                ))}
            </div>
            
        </div>
    
        <div class="project-tools">
            <span> TOOLS</span>
            {project.tools.map((tool => 
                <p>{tool}</p>
            ))}
       
        </div>
        
    </div>
    <div class="project-description">
        <span> DESCRIPTION</span>
        <div class="project-description-text">
            <p>{project.description}</p>
        </div>
        <div class="buttons">
            <button>
                <a href="{project.webAppUrl}" target="_blank" rel="noopener noreferrer">
                    <Icon name="launch-project-icon"></Icon>
                    WEB APP
                </a>
                
            </button>

            <button>
                <a href="{project.landingPageUrl}"  target="_blank" rel="noopener noreferrer">
                    <Icon name="launch-project-icon"></Icon>
                    LANDING PAGE
                </a>
            </button>
        </div>
    </div>
    
    
</div>
<div class="project-gallery">
    
    <div class="left-container">
        <div class="app-name">
            <img class="logo" src="/src/images/artCollabLogo.png">
            <p>ArtCollab</p>
        </div>
        <div class="project-image container">
            <img src="/src/images/artCollabWebAppComplete.png" width="250px">
    
        </div>
    </div>
    
    <div class="project-scroll-image">
       <img src="/src/images/artCollabLongerCapture.png"> 
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #222222;
        padding: 20px 0px;
        border-radius: 30px;
        overflow: hidden;
    }

    .container img {
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
    }

    .container:hover img {
        transform: translateY(-1%);
    }

    .project-header {
        color: #222222;
        font-size: 50px;
        padding: 10px 0;
    }

    hr {
        height: 1px;
        color: #222222;
        background: #222222;
        font-size: 0;
        border: 0;
        width: 95%;
    }

    .text-container {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .project-details {
        width: 25%;
    }

    .project-description {
        width: 100%;
        padding: 0 20px;
    }

    .project-description-text {
        padding: 10px 0;
    }

    p {
        font-weight: 300;
        font-size: 18px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding: 10px 0;
    }

    button {
        background-color: transparent;
        border: 1px solid #222222;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        padding: 8px 5px;
        border-radius: 5px;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    span {
        color: #222222;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 5px;
        display: inline-block;
        white-space: nowrap;
    }

    .project-gallery {
        display: flex;
        justify-content: end;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px 0;
        gap: 20px;
    }

    .project-scroll-image {
        background-color: white;
        height: 500px;
        border: 1px solid #222222;
        padding: 20px;
        overflow-y: scroll;
        border-radius: 30px 0 0 30px;
    }

    .project-scroll-image img {
        width: 250px;
    }

    .left-container {
        width: 38%;
    }

    .app-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px solid #222222;
        border-radius: 10px;
        padding: 5px 20px;
        margin-bottom: 20px;
    }

    .app-name p {
        font-size: 50px;
        font-weight: bold;
        color: #222222;
    }

    .logo {
        height: 40px;
    }

    .project-image {
        height: 200px;
    }

    .project-image img {
        width: 265px;
        transform: translateY(20%);
    }

    .rol-list{
        padding-bottom: 15px;
    }

    [data-icon] {
        height: 20px;
        width: 20px;
    }

    /* 2xl: 1536px and below */
   @media (max-width: 1522px) {
        .app-name p{
                font-size: 40px;
            }
    }


    /* lg: 1024px and below */
    @media (max-width: 1025px) {
        .app-name p{
            font-size: 25px;
        }

        .project-image{
            height: 150px;
        }

        
    }

    @media (max-width: 1068px) {
        .project-gallery{
            justify-content: center;
        }

        .left-container{
            width: 70%;
        }
    }

    /* 880px and below */
    @media (max-width: 879px) {
        .buttons{
            flex-direction: column;
            gap:15px;
            width: 95%;
        }
        
    }

    /* md: 768px and below */
    @media (max-width: 768px) {
        .text-container{
            flex-wrap: wrap;
        }

        .project-details{
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 50px;
            padding:10px;
        }

        .project-description{
            margin-top:10px;
            padding: 10px;
        }

        .project-gallery{
            justify-content: center;
        }

        button{
            white-space: nowrap;
        }

        
    }

    /* sm: 640px and below */
    @media (max-width: 639px) {
        h2{
            font-size: 1.2em;
        }

        
    }

    @media (max-width: 376px) {
        .left-container{
            width: 100%;
        }

        h2{
            font-size: 1em;
        }

        a{
            justify-content: flex-start;
            gap:10px;
        }
    }
</style>